<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastro de Clientes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='clientes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

</head>

<body>

  <div class="menu-lateral">
    <h2>Menu</h2>
    <a href="{{ url_for('index') }}">Início</a>
    <a href="{{ url_for('clientes') }}">Clientes</a>
    <a href="{{ url_for('produtos') }}">Produtos</a>
    <a href="{{ url_for('vendas') }}">Vendas</a>
    <a href="{{ url_for('relatorio') }}">Relatório</a>
</div>

<div class="conteudo">

  <div class="clientes-container">

    <h1>Cadastro de Clientes</h1>

    <form method="POST">
      <input name="nome" placeholder="Nome" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+" title="O nome deve conter apenas letras">

      <input name="idade" type="number" min="1" placeholder="Idade">

      <input name="cpf" placeholder="CPF" pattern="\d{11}" maxlength="11" title="Digite apenas números (11 dígitos)">


      <button type="submit">Cadastrar</button>
    </form>

    <ul class="clientes-lista">
      {% for c in clientes %}
      <li>{{ c.nome }} - {{ c.idade }} anos - CPF {{ c.cpf }}</li>
      {% endfor %}
    </ul>

    </div>
  </div>
</body>

</html>