<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastro de Produtos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
</head>

<body>

  <div class="produtos-container">

    <h1>Cadastro de Produtos</h1>

    <form method="POST">
      <input name="nome" placeholder="Nome do Produto">
      <input name="preco" type="number" step="0.01" placeholder="Preço">
      <input name="quantidade" type="number" placeholder="Quantidade">
      <button type="submit">Cadastrar</button>
    </form>

    <ul class="produtos-lista">
      {% for p in produtos %}
      <li>{{ p.nome }} - {{ p.quantidade }} unidades - R${{ p.preco }}</li>
      {% endfor %}
    </ul>

  </div>

</body>

</html>