<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Relatório do Sistema</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='relatorio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>

    <!-- MENU LATERAL -->
    <div class="menu-lateral">
        <h2>Menu</h2>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('clientes') }}">Clientes</a>
        <a href="{{ url_for('produtos') }}">Produtos</a>
        <a href="{{ url_for('vendas') }}">Vendas</a>
        <a href="{{ url_for('relatorio') }}">Relatório</a>
    </div>


    <div class="conteudo">

        <div class="relatorio-container">

            <h1>Relatório do Sistema</h1>


            <section>
                <h2>Produtos</h2>
                <ul class="lista">
                    {% for p in produtos %}
                    <li>{{ p.nome }} — {{ p.quantidade }} unidades</li>
                    {% endfor %}
                </ul>
            </section>